
.hinh4 {
    width: 25%;
    display: inline-block;
    margin: 30px;
    margin-bottom: 50px;
    border-radius: 30px;
    padding: 10px;

}
.hinh4 img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
    object-fit: cover;